@font-face {
    font-family: 'Prima Sans Mono Std';
    src: url('fuentes/PrimaSansMonoStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
  }
  
  .fondo {
    background-image: url('file:///F:/marcas/TWINS%20PAGINAS/91tBtUSmqOL.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bloque {
    background-color: rgba(226,185,131,255);
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    color: #000;
    font-family: 'Prima Sans Mono Std', monospace;
  }
  
  h3 {
    font-style: italic;
    font-size: small;
    color: #222;
  }
  
  hr {
    height: 4px;
    background-color: #a3532e;
    border: none;
    margin: 20px 0;
  }
  
  p.titulo-seccion {
    color: #0f0f0f;
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px 0 10px;
    font-family: 'Prima Sans Mono Std', monospace;
  }
  
  .Imagen {
    margin-top: 10px;
  }
  
  .Imagen img {
    width: 50px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .parrafos {
    margin-top: 10px;
    text-align: left;
  }
  
  .parrafo {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1em;
    color: #0f0f0f;
  }
  
  .nombre {
    flex: 1;
  }
  
  .precio {
    font-weight: bold;
    color: #0f0f0f;
  }
  .enlace-web {
    display: inline-block;
    margin-top: 15px;
    font-size: 0.9em;
    color: yellow;
    text-decoration: underline; /* subrayado */
    transition: color 0.3s ease;
  }
  
  .enlace-web:hover {
    color: orange;
  }
  
    